@page "/"

<PageTitle>Event Manager</PageTitle>

<h1>Aplicación para organización de eventos</h1>

Desde esta aplicación podrás crear eventos, registrarte en ellos y gestionar tus inscripciones. Para empezar, haz clic en el enlace de "Events" en el menú de navegación para ver la lista de eventos disponibles. Si quieres añadir un nuevo evento, asegúrate de iniciar sesión y luego haz clic en "Añadir evento". Si no tienes un usuario puedes crear uno en el botón "registrarse" ¡Esperamos que disfrutes organizando y participando en eventos con nuestra aplicación!